body{
	background: gray;
	text-align:center;
	background: #fcf5ee;

}
.rectanglerose{
 background: #f8eded;}

h1{
	color:#ff75a0;
	font-size: 70px;
	font-family: arial; 
}

h2{
	font-family: 'Dancing Script', cursive;
}
.encadre{
	border: 6px solid pink;
	margin: 50px auto;
	padding: 50px;
	width: 500px;
	border-radius: 15%;
	box-shadow: 5px 5px 10px grey;
}
h3{
	text-align: center;
}
ul{
	text-align: center;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: pink;

}

.carte{
	align-items: left;
}

.message{
font-size: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end;
 
}

.item {
  margin: 10px 30px;
  color: #9F3442;
}

.item:hover {
  color: #458D2E;
}

.my-btn{
	font-family: arial;
}

.espace {
	margin: 0 15px;
}

.recette{
	font-family: 'Dancing Script', cursive;
}

.question{
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}
.regalez{
		font-family: 'Dancing Script', cursive;
}

.soustitre{
	font-family: Arial black;
}
.moi{
	border: dashed white;
	border-radius: 50%;
	box-shadow: 5px 5px 10px grey;
}

.photomoi{
	border: 10px dashed gray;
	margin: 20px auto;
	padding: 50px;
	width: 250px;
	border-radius: 50%;

}
.carterectangle{
	background: white;
}

.rectanglebas{
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Dancing Script', cursive;;
	margin: 0 100px;
}

.reponse{
	margin: 0 100px;
		padding: 50px;
	width: 250px;
}

.cadrereponse{
	border: 10px dashed gray;
	margin: 15px;

}
.carte{
	margin: 0 100px ;

}



